# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Large datasets & output pairs (files > 100MB cannot be pushed to GitHub)
dataset/
output/candidate_pairs.tsv

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
